body {
  background-color: rgb(14, 65, 84);
  padding: 10px;
}

body div{
  background: blanchedalmond;
  border: black dotted .5px;
  text-align: center;
  font-size: 1em;
  margin: 5px;
  color: black;
}

header {

}

.row1{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer{
  width: 40%;
  display: flex;
  flex-direction: column
  
  
}

