
body {
  background-color: rgb(14, 65, 84);
  padding: 10px;
}

body div{
  background: blanchedalmond;
  border: black dotted .5px;
  text-align: center;
  font-size: 1em;
  margin: 5px;
  color: black;
}

.a {
  margin-bottom: 30px;
}

nav li {
  display: inline-block;
  margin: 1px 20px 1px 20px;
  padding: 1px 20px 1px 20px;
}

nav ul {
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: black;
}

.container {
  margin-bottom: 10px;
}

.c {
  margin: 10px 5px 5px 5px ;
}
